<div class="box">
<div>
  <mat-card class="example-card">
    <mat-card-content>
      <form autocomplete="on" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-form-field class="example-full-width">
          <mat-label>Name</mat-label>
          <input matInput type="text"  formControlName="username" name="given-username" autocomplete="given-username">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Password</mat-label>
          <input matInput type="password"  formControlName="password" name="given-password" autocomplete="given-password">
        </mat-form-field>
        <mat-card-actions>
          <section>
            <div class="example-button-row">
              <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid">Submit</button>
              <button mat-raised-button routerLink="/registration" routerLinkActive="active" color="primary">New User? Register Now</button>
            </div>
          </section>
        </mat-card-actions>
      </form>

    </mat-card-content>

  </mat-card>
</div>
</div>
